<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    body {
        margin: 0;
        font-family: Helvetica, sans-serif;
        /*background-color: #f4f4f4;*/
        /*height: 2000px;*/
    }

    a {
        color: #000;
    }

    /* header */
    .header {
        background-color: #fff;
        box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
        position: fixed;
        width: 100%;
        z-index: 3;
        background-color: dodgerblue;
    }

    .header ul {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        background-color:dodgerblue;
        transition: all 0.5s;

    }

    .header li a {
        display: block;
        padding: 20px 20px;
        border-right: 1px solid #f4f4f4;
        text-decoration: none;
        color: white;
        transition: all 0.5s;

    }

    .header li a:hover,
    .header .menu-btn:hover {
        background-color: #f4f4f4;
        color: dodgerblue;
    }

    .header .logo {
        display: block;
        float: left;
        font-size: 2em;
        padding: 10px 20px;
        text-decoration: none;
        color: white;
    }

    /* menu */

    .header .menu {
        clear: both;
        max-height: 0;
        transition: max-height 0.2s ease-out;
    }

    /* menu icon */

    .header .menu-icon {
        cursor: pointer;
        display: inline-block;
        float: right;
        padding: 28px 20px;
        position: relative;
        user-select: none;
    }

    .header .menu-icon .navicon {
        background: #333;
        display: block;
        height: 2px;
        position: relative;
        transition: background 0.2s ease-out;
        width: 18px;
    }

    .header .menu-icon .navicon:before,

    .header .menu-icon .navicon:after {
        background: #333;
        content: "";
        display: block;
        height: 100%;
        position: absolute;
        transition: all 0.2s ease-out;
        width: 100%;
    }

    .header .menu-icon .navicon:before {
        top: 5px;
    }

    .header .menu-icon .navicon:after {
        top: -5px;
    }

    /* menu btn */

    .header .menu-btn {
        display: none;
    }

    .header .menu-btn:checked ~ .menu {
        max-height: 240px;
    }

    .header .menu-btn:checked ~ .menu-icon .navicon {
        background: transparent;
    }

    .header .menu-btn:checked ~ .menu-icon .navicon:before {
        transform: rotate(-45deg);
    }

    .header .menu-btn:checked ~ .menu-icon .navicon:after {
        transform: rotate(45deg);
    }

    .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
    .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
        top: 0;
    }
    /* 48em = 768px */
    @media (min-width: 48em) {
        .header li {
            float: left;
        }
        .header li a {
            padding: 20px 30px;
        }
        .header .menu {
            clear: none;
            float: right;
            max-height: none;
        }
        .header .menu-icon {
            display: none;
        }
    }

    .main-block{
        padding-top: 10%;
    }

    .inner{
        display: flex;
        align-items: stretch;
        justify-content: space-around;
    }

    .inner>div{
        background-color: #f4f4f4;
        /*border: 1px red solid;*/
        width: 600px;
        border-radius: 10px;
        height: 400px;
    }
    .answer{
        border: none;
        width: 80%;
        height: 50px;
        background-color: #f4f4f4;
        border-bottom: 2px solid dodgerblue;
        margin-top: 5%;
        font-size: 20px;
    }

    .question{
        margin-top: 10%;
    }

    .button {
        display: inline-block;
        border-radius: 4px;
        background-color: dodgerblue;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 15px;
        padding: 20px;
        width: 200px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5%;
    }

    .button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

    .button span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }

    .button:hover span {
        padding-right: 25px;
    }

    .button:hover span:after {
        opacity: 1;
        right: 0;
    }
</style>
<body>

<header class="header">

    <a href="" class="logo">AITUDOC</a>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    <ul class="menu">
        <li>
            <a href="http://localhost:8080/logout" id="logout">Выйти</a>
        </li>
    </ul>

</header>

<div class="main-block">

    <div  class="inner">
        <div>
             <center><h1 th:text="${document.getFileName()}"></h1></center>

            <div class="question">
                <center>
                    <form th:action="@{/fill}" th:method="POST">
                        <label  style=" color: dodgerblue " th:text="${question.getQuestion()}" ></label><br>
                        <input type="hidden" name="count" th:value="${count}">
                        <input type="hidden" name="document" th:value="${document.getId()}">
                        <input type="text" class="answer" name="answer" ><br>
                        <button class="button" style="vertical-align:middle"><span>Заполнить</span></button>
                  </form>
                </center>

            </div>

        </div>
    </div>
</div>
</body>
</html>