<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Выберите организацию для отправки запроса</h1><br>
<form th:action="@{/sendrequesttoorg}" method="post">
    <input type="hidden" name="docId"  th:value="${docId}">

    <p><select name="organization" th:object="${list}"  >
        <div th:each="jp : ${list}">
        <option th:value="${jp.getJuridicPerosnId()}" th:text="${jp.getOrganizationName()}"></option>
        </div>
    </select></p>

    <p><input type="submit" value="Отправить"></p>
</form>
</body>
</html>